@import "../../styles/variables";
.marginTopForForm {
  margin-top: $header-margin-top;
}

@media (min-width: 768px) {
  .responsiveRow {
    position: relative;
  }
  .blackLayerStyle {
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
}
