@import "../../styles/variables";
@import "~bootstrap/scss/bootstrap-utilities";

#Header{
    height: $header-height;
    margin-bottom: $header-margin-bottom;
}

.isHomepage{
    height: $header-homepage-height;

    @include media-breakpoint-up(lg){
        height: $header-height;
    }
}

.bookmarkNumber{
    position: absolute;
}

.profileImg{
    width: 30px;
}