@import "~bootstrap/scss/bootstrap-utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (
        100: 100vh,
        75: 75vh
      )
    )
  ),
);

@import "~bootstrap/scss/bootstrap";

.w-lg-auto{
  @include media-breakpoint-up(lg){
      width: auto !important;
  }
}

.w-lg-50{
  @include media-breakpoint-up(lg){
      width: 50% !important;
  }
}
