@import "~bootstrap/scss/bootstrap-utilities";
@import "../../styles/variables";

.label {
  color: $blue-600;
  margin-bottom: 0;
}


.middleLoginBox {
    min-height: calc(100vh - ($header-height + $header-margin-bottom));
}